
  <div class="container ">
    <div class="inner text-center">
      <h1 class="text-center h1-30 padding-40 color-white">サウナの館</h1>

      <div class="out-line  text-center color-white padding-40 padding-bottom-40">
        <p>サウナのよさをただただ投稿していくために作られたSNSサイトです</p><br>
        <p>あなたもこのサイトを利用してサウナのよさを認識しましょう</p>
      </div>

      <div class="entry-area text-center padding-40">
        <div class="display-inb padding-20"><%=link_to "login", new_user_session_path%></div>
        <div class="display-inb"><%=link_to "sign in",new_user_registration_path%></div>
      </div>
    </div>

  </div>
